:root {
    --light-blue: #00ADB5;
    --blue: #1093fd;
    --dark-blue: #222831;
    --semi-dark-blue: #323d4d;
    --grey: #393E46;
    --white: #EEEEEE;
    --black: #191919;
    --green: #09cc78;
  }
  
/*reset css*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    min-width: 320px;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
a:visited{
    color: inherit;
}
/*ANIMACIONES*/

@keyframes astronauta {
    0% {
        top: 50px;
    }
    30%{
        top: 20px;
    }
    100%{
        top: 50px;
    }
  }
  @keyframes sombra{
    0% {
        transform: scaleX(1.1);
    }
    40%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(1.1);
    }
  }

  /*ESTILOS PARA LOGIN*/
/*************************/
.contenedor-general-login{
    width: 100%;
    min-width: 320px;
    height: 100vh;
    min-height: 400px;
    background-color: var(--dark-blue);
}
.contenedor-login{
    width: 100%;
    min-width: 320px;
    min-height: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--white);
}
.contenedor-login img{
    object-fit: cover;
    max-width: 300px;
    margin: auto;
    margin-top: 200px;
}
.input{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.input input{
    outline: none;
    border: 1px solid var(--grey);
    border-radius: 5px;
    transition: .2s ease;
    height: 25px;
}
.input input:focus{
    border: 1px solid var(--blue);
}
.input input:valid{
    border: 1px solid var(--green)
}
.input input:required:invalid{
    border: 1px solid var(--red);
}
.label-input{
    font-size: 1.2em;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    position: relative;
    top: 30px;
    left: 10px;
    width:fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    transition: .2s ease;
    
}
.label-input.focus{
    top: 0px;
    color: white;
}
.contenedor-login h2{
    text-transform: uppercase;
    margin: 25px;
    font-size: 2.5em;
    font-weight: 700;
}
#botonLog{
    width: 50%;
    min-width: 150px;
    height: auto;
    margin:auto;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3em;
    
}
.contenedor-texto{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    padding-bottom: 25px;
}
.contenedor-login a {
    margin-top: 10px;
}
.contenedor-inputs-login{
    width: 95%;
    min-width: 320px;
    min-height: 300px;
    margin: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: var(--white);
}
.boton-submit{
    width: 40%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: var(--blue);
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.5em;
    font-weight: 500;
    border-radius: 5px;
}
#botonLogin{
    display: block;

}
#botonRegister {
   display: none;
   background-color: var(--green);
}
.contenedor-descripcion-principal{
    display: none;
}
.mostrar-input-registro{
    display: none;
}
.mostrar-input-registro.active{
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width:768px){
    .contenedor-general-login{
        width: 100%;
        min-width: 320px;
        height: 100vh;
        min-height: 400px;
        background-color: var(--dark-blue);
        display: flex;
        flex-direction: row;
    }
    .contenedor-login{
        width: 50%;
    }
    .contenedor-inputs-login{
        width: 90%;
        min-width: 320px;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .contenedor-login h2{
        text-transform: uppercase;
        font-size: 2.5em;
        font-weight: 700;
    }

    .contenedor-login a {
        font-size: 1.2em;
        color: var(--white);
    }
    #botonLog{
        width: 40%;
        font-size: 1.4em;
        font-weight: 600;
    }
    .contenedor-descripcion-principal{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-top: 20vh;
        text-align: center;
        background: var(--semi-dark-blue);
        background-position: bottom;
        
    }
    .contenedor-descripcion-principal img{
        width: 100%;
        height: 300px;
        object-fit: contain;
        position: relative;
        animation-name: astronauta;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-duration: 3s;
        z-index: 1;

    }
    .contenedor-descripcion-principal span{
        background: black;
        opacity: 0.2;
        width: 150px;
        height: 30px;
        border-radius: 100%;
        margin: auto;
        z-index: 0;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.9);
        animation-name: sombra;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-duration: 3s;
    }
    .contenedor-descripcion-principal h1{
        padding-top: 3vh;
        margin-left: 20%;
        color: var(--white);
        font-size: 2.5em;
        text-shadow: 2px 2px 1px var(--blue);
    }
    .contenedor-descripcion-principal h2{
        font-size: 2em;
        color: var(--white);
    }
    .contenedor-descripcion-principal p{
        width: 80%;
        margin: auto;
        margin-top: 50px;
        font-size: 2em;
        color: var(--white);
    }
}